body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: center;
}

.container0 {
  width: 100%;
}

.container1 {
  display: flex;
  justify-content: center;
  gap: 70px;
  background-color: #00a991;
}

.container2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #00a991;
}

input {
  width: 500px;
  font-size: 30px;
  border: solid 3px black;
  border-radius: 20px;
}

button {
  width: 500px;
  height: 50px;
  font-size: 20px;
}

main {
  height: 700px;
}
